.text-justfy{
	text-align: justify;
}
.margin-body-top{
	margin-top: 80px;
}
.img-100{
	width: 100%;
}
/*url/sobre*/
.sobre{
	text-align: justify;
	font-size: 120%;
}
.frase-pensamento{
	text-align: center;
}
.cover{
	object-fit: cover;
}